<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../static/chat/css/qq.css"/>
  </head>
  <body>

    <div class="qqBox">
      <div class="context">

        <div class="conLeft">

              <li>世名科技的概念是啥</li>
              <li>昌九所属概念是什么</li>
              <li>博瑞传播所属概念是什么</li>
              <li>立霸股份的概念什么</li>
              <li>英飞拓所属地域是什么</li>
              <li>宇信科技的注册地是哪里</li>
              <li>华鑫股份好不好</li>
              <li>横店影视的表现怎样</li>
              <li>伟明环保的主要供应商有哪些</li>
              <li>旗滨集团有哪些高管</li>
              <li>文化传媒有哪些企业</li>
              <li>法尔胜的主要客户有哪些</li>
              <li>医药生物 — 中药Ⅱ的公司有哪些</li>

        </div>
        <div class="conRight">

          <div class="RightCont">
            <ul class="newsList">
                <li><div class="nesHead"><img src="../../static/chat/img/tou.jpg"></div><div class="news"><img class="jiao" src="static/chat/img/zuojiao.jpg">你好
</div></li>
            </ul>
          </div>
          <div class="RightFoot">
            <div class="inputBox">
              <textarea id="dope" style="width: 99%;height: 75px; border: none;outline: none;" name="" rows="" cols="" placeholder="请输入"></textarea>
              <button class="sendBtn">发送(s)</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../static/chat/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/chat/js/chat.js"></script>
  </body>
</html>